*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    text-transform: capitalize;
    color: #102a42;
    letter-spacing: 2px;
}

.underline{
    width: 5rem;
    height: 4px;
    background-color:#49a6e9 ;
    margin-inline: auto;
    border-radius: 3px;
    margin-block: 5px;
}

.review_wrapper{
    width: min(700px, 90%);
    margin: 40px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.image_wrap{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    /* overflow: hidden; */
}

.image_wrap::after{
    content: '';
    position: absolute;
    background-color:#49a6e9;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    z-index: -1;
    right: -7%;
    top: -2%;
}

.user_profile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all .7s ease;
}

.user_profile:hover{
    transform: scale(1.1);
}

.review_wrapper > .name{
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.review_wrapper > .title{
    color: #49a6e9;
    font-size: .9rem;
    margin: 10px 0 15px 0;
    text-transform: uppercase;
}

.review_wrapper > .desc{
    color: #a88e9b;
    width: min(530px, 90%);
    margin:0 auto;
}

.btn{
    padding: 7px 15px;
    background-color: transparent;
    margin: 15px 0;
    border-radius: 10px;
    text-transform: capitalize;
    color: #49a6e9;
    font-weight: 600;
    border: 2px solid #49a6e9;
    cursor: pointer;
    transition: all .3s ease;
}

.btn_group{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn_prev, .btn_next{
    background-color: transparent;
    border: 0;
    margin: 15px 0 0 0;
    font-size: 1.5rem;
    color: #49a6e9;
    font-weight: 700;
    cursor: pointer;
}

.btn_next:active, .btn_prev:active, .btn:active{
    transform: scale(1.2);
}